{% extends is_granted('ROLE_SECRETARIAT') ? 'admin.html.twig' : 'base.html.twig' %}


{% block title %}Modifier ses informations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
{% endblock %}

{% block body %}
	<h1>Modifier ses informations</h1>


	{{ form_start(form) }}

	<div class="row pt-4">
		<div class="col-md-6 mb-4">

			<div class="">
				{{ form_label(form.firstname) }}
				{{ form_widget(form.firstname) }}
			</div>

		</div>
		<div class="col-md-6 mb-4">

			<div class="">
				{{ form_label(form.lastname) }}
				{{ form_widget(form.lastname) }}
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
			</div>

		</div>
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.phone_number) }}
				{{ form_widget(form.phone_number) }}
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.area_code) }}
				{{ form_widget(form.area_code) }}
			</div>

		</div>
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.address) }}
				{{ form_widget(form.address) }}
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.zip_code) }}
				{{ form_widget(form.zip_code) }}
			</div>

		</div>
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.city) }}
				{{ form_widget(form.city) }}
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.date_of_birth) }}
				{{ form_widget(form.date_of_birth) }}
			</div>

		</div>
		<div class="col-md-6 mb-4 pb-2">

			<div class="">
				{{ form_label(form.thumbnail) }}
				{{ form_widget(form.thumbnail) }}
			</div>

		</div>
	</div>
        <div class="row mb-4 mt-3">
            <div class="col">
                <button class="btn btn-primary ">{{ button_label|default('Sauvegarder') }}</button>
                <a href="{{ path('app_account_home') }}" class="btn primary-custom-button float-end">Retour sur son compte</a>
            </div>
        </div>
	{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
<script src = "https://cdn.jsdelivr.net/npm/flatpickr"> </script> 
<script >
$(document).ready(function() {
		
		function roundUpHour(date) {
			var hour = date.getHours();
			
			// Arrondir à l'heure supérieure
			if (date.getMinutes() > 0) {
				hour += 1;
			}

			// Retourner l'heure arrondie
			return hour;
		}

		function roundUpDateAndHour() {
			var currentDate = new Date();
			var roundedHour = roundUpHour(currentDate);
			
			// Réinitialiser les minutes et les secondes à zéro
			currentDate.setMinutes(0);
			currentDate.setSeconds(0);

			// Si l'heure arrondie dépasse minuit, passer au jour suivant
			if (roundedHour >= 24) {
				currentDate.setDate(currentDate.getDate() + 1);
				roundedHour = 0; // Réinitialiser l'heure à zéro
			}

			// Définir l'heure arrondie sur la date actuelle
			currentDate.setHours(roundedHour);

			// Retourner la date et l'heure arrondies
			return currentDate;
		}
		function initDatePicker(selector, options) {
			var roundedDate = roundUpDateAndHour();
			var flatpickrOptions = {
				defaultDate: roundedDate,
				dateFormat: options.dateFormat || 'M j, Y',
				disableMobile: true,
				...options
			};

			flatpickr(selector, flatpickrOptions);
		}

		// Utilisation du DatePicker avec des options personnalisées
		initDatePicker('.datetimepickr', {
			dateFormat: 'M j, Y',
			allowInput: true,
			nextArrow: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/></svg>`,
			prevArrow: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"/></svg>`,
			locale: {
				firstDayOfWeek: 1,
				weekdays: {
					shorthand: ["dim", "lun", "mar", "mer", "jeu", "ven", "sam"],
					longhand: [
						"dimanche",
						"lundi",
						"mardi",
						"mercredi",
						"jeudi",
						"vendredi",
						"samedi",
					],
				},
				months: {
					shorthand: [
						"janv",
						"févr",
						"mars",
						"avr",
						"mai",
						"juin",
						"juil",
						"août",
						"sept",
						"oct",
						"nov",
						"déc",
					],
					longhand: [
						"Janvier",
						"Février",
						"Mars",
						"Avril",
						"Mai",
						"Juin",
						"Juillet",
						"Août",
						"Septembre",
						"Octobre",
						"Novembre",
						"Décembre",
					],
				},
				ordinal: (nth) => {
					if (nth > 1) return "";
					return "er";
				},
				rangeSeparator: " au ",
				weekAbbreviation: "Sem",
				scrollTitle: "Défiler pour augmenter la valeur",
				toggleTitle: "Cliquer pour basculer",
			}, // Supprimez la virgule ici
			onDayCreate: function(_, _, _, dayElem) {
				if (dayElem.dateObj.getDay() === 0 || dayElem.dateObj.getDay() === 6) {
					dayElem.className += ' weekend-days';
				}
			}
		});

		// Vous pouvez également créer une fonction pour le DateAndTimePicker si nécessaire
		function DateAndTimePicker(selector) {
			initDatePicker(selector, {
				dateFormat: 'M j, Y'
			});
		}
	}); 

</script> 

{% endblock %}