{% extends is_granted('ROLE_SECRETARIAT') ? 'admin.html.twig' : 'base.html.twig' %}

{% block title %}Modifier son mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    Bienvenue {{ app.user.firstname }} dans votre espace modification de mot de passe.<br>

    {% if notification_miss %}
        <div   class="alert alert-danger">{{ notification_miss }}</div>
    {% endif %}
    {% if notification_good %}
        <div class="alert alert-success">{{ notification_good }}</div>
    {% endif %}
    <hr>
        {{ form_start(form) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.old_password) }}
        {{ form_row(form.new_password) }}

        <div class="row mb-4 mt-3">
            <div class="col">
                <button class="btn btn-primary ">{{ button_label|default('Sauvegarder') }}</button>
                <a href="{{ path('app_account_home') }}" class="btn primary-custom-button float-end">Retour sur son compte</a>
            </div>
        </div>
        {{ form_end(form) }}
    <hr>
{% endblock %}
