{% extends 'admin.html.twig' %}

{% block title %}Liste des Disciplines{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Disciplines</h1>
    <a href="{{ path('app_secretariat_disciplines_create') }}" class="btn btn-info float-lg-right">Ajouter une Discipline</a>
    
    <br>
    <br>
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{ flash }}
        </div>
    {% endfor %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de la Discipline</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for matiere in matieres %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ matiere.name }}</td>
                    <td>
                        <a href="{{ path('app_secretariat_disciplines_edit', {'id': matiere.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('app_secretariat_disciplines_delete', {'id': matiere.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette Discipline ? Si des cours ou des appréciations sont affiliés à cette Discipline, ils deviendront orphelins')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
