{% extends 'admin.html.twig' %}

{% block title %}
{% if app.request.attributes.get('_route') == 'app_secretariat_users_teachers' %}
Tous les professeurs Atempo-Education
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_eleves' %}
Tous les élèves Atempo-Education
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_administration' %}
Tous le secrétariat Atempo-Education
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_home' %}
Tous les utilisateurs Atempo-Education
{% endif %}


{% endblock %}

{% block body %}
	<h1 class="h3 mb-3">
{% if app.request.attributes.get('_route') == 'app_secretariat_users_teachers' %}
Tous les professeurs
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_eleves' %}
Tous les élèves
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_administration' %}
Tout le secrétariat
{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_home' %}
Tous les utilisateurs
{% endif %}
	</h1>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<table class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Email</th>
							<th>Téléphone</th>
							{% if app.request.attributes.get('_route') == 'app_secretariat_users_teachers' %}
								<th>Discipline</th>
							{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_eleves' %}
								<th>Classe</th>
								{% elseif app.request.attributes.get('_route') == 'app_secretariat_users_administration' %}

							{% endif %}
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr class="{% if app.request.attributes.get('_route') == 'app_secretariat_users_home' %} {% if "ROLE_SECRETARIAT" in user.roles %}table-danger {% elseif "ROLE_TEACHER" in user.roles %}table-primary {% elseif "ROLE_STUDENT" in user.roles %}table-success {% endif %} {% endif %}">
								<td>
									<img src="{{ asset('/uploads/profile_pics/' ~ user.thumbnail) }}" width="48" height="48" class="rounded-circle me-2" alt="Avatar">
									{{ user.lastname }}
								</td>
								<td>{{ user.firstname }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.phonenumber }}</td>
								{% if app.request.attributes.get('_route') == 'app_secretariat_users_teachers' %}
									<td>
									{% set displayedMatiereNames = [] %}
									{% for matiere in user.eventsteacher %}
										{% if matiere.disciplines.name not in displayedMatiereNames %}
											{% if displayedMatiereNames|length > 0 %}
												,
											{% endif %}
											{{ matiere.disciplines.name }}
											{% set displayedMatiereNames = displayedMatiereNames|merge([matiere.matieres.name]) %}
										{% endif %}
									{% endfor %}
									</td>
								{% endif %}
								{% if app.request.attributes.get('_route') == 'app_secretariat_users_eleves' %}
								<td>
								{% if user.studentClasses is not null %}
									{{ user.studentClasses.name }}
								{% endif %}
								
								</td>
								{% endif %}
								{% if app.request.attributes.get('_route') == 'app_secretariat_users_administration' %}
								{% endif %}
								<td class="table-action">
									<a href="{{ path('app_secretariat_users_modify', {id:user.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
											<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
										</svg>
									</a>
									<a href="#" class=" modal-trigger" type="button" data-bs-toggle="modal" data-bs-target="#modal-delete" data-target="modal-delete" data-id="{{user.id}}" data-titre="{{user.firstname}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle">
											<polyline points="3 6 5 6 21 6"></polyline>
											<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
										</svg>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Supprimer un utilisateur</h3>
					<br>
				</div>
				<div class="modal-body">
					<h4 class="h5"></h4>
					<br>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-bs-dismiss="modal">Annuler</button>
						<a href="" type="button" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}


	{% block javascripts %}
		<script>
			let supprimer = document.querySelectorAll(".modal-trigger")
            for (let bouton of supprimer) {
                bouton.addEventListener("click", function () {
                    document.querySelector(".modal-footer a").href = `/secretariat/${this.dataset.id}/supprimer`
                    document.querySelector(".modal-body h4").innerText = `Êtes vous sûr(e) de vouloir supprimer l'utilisateur ? "${
                    this.dataset.titre
                    }" ?`
                    document.querySelector(".modal-body p").innerText = `Cette action ne sera pas réversible, et l'utilisateur ainsi que toutes ses données seront totalement perdu. `
                })
            }
		</script>
	{% endblock %}
