{% extends 'admin.html.twig' %}

{% block title %}Modifier les informations de {{user.lastname}} {{user.firstname}}{% endblock %}

{% block body %}
    <h1>Modifier les informations personnelles de {{user.lastname}} {{user.firstname}}</h1>

    <hr>
    {{ form(form) }}
    <hr>
{% endblock %}
