{% for article in articles %}
	<div class="col">
		<div class="card mb-2 rounded-3" >
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('/uploads/posts/images/' ~ article.thumbnail) }}" class="rounded-start posts_img" alt="Atempo-Education | {{ article.thumbnail }}">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h2 class="card-title h4 text-center primary-color list-unstyled">
							<li>{{ article.name }}</li>
						</h2>
						<p class="text-muted text-center h6 small">
							{{ article.createdAt|format_datetime(pattern="dd/MM/y") }}
						</p>
						<p class="card-text m-3">{{ article.content|striptags|u.truncate(200, '...')|raw }}</p>
						<p class="card-text text-center text-muted">{{ article.categorie }}
							{{ article.author.firstname }}
							{{ article.author.lastname }}</p>


						<div class="card-footer bg-transparent d-flex justify-content-center" >
							<a href="{{ path('app_posts_details', {slug: article.slug}) }}" class="text-decoration-none btn primary-custom-button ms-2 align-self-center">
								Lire l'actu
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% set queryParams = app.request.query.all %}
{% set querystring = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

{% set pages = (totalarticles / limit)|round(0, 'ceil') %}
<nav aria-label="Page navigation example" style="width: 100%">
	<ul class="pagination justify-content-center mt-3">
		<li class="{{ (page == 1) ? 'disabled' : ''}} page-item">
			<a class="page-link" href="?page=1&{{ querystring }}" tabindex="-1" aria-disabled="true">
				<i class="bi bi-skip-backward-fill"></i>
			</a>
		</li>
		<li class="{{ (page == 1) ? 'disabled' : ''}} page-item">
			<a class="page-link" href="{{ (page>1) ? '?page=' ~ (page - 1) : '' }}&{{ querystring }}" tabindex="-1" aria-disabled="true">Précedente</a>
		</li>
		{% if pages > 0 %}
			{% for item in 1..(pages) %}
					<li class="{{ (page == item) ? 'active' : ''}} page-item" aria-current="page">
						<a class="page-link" href="?page={{ item }}&{{ querystring }}">{{ item }}</a>
					</li>
				{% endfor %}
			{% endif %}
		<li class="{{ (page == pages) ? 'disabled' : ''}} page-item">
			<a class="page-link" href="{{ (page != pages) ? '?page=' ~ (page + 1) : '' }}&{{ querystring }}">Suivante</a>
		</li>
		<li class="{{ (page == pages) ? 'disabled' : ''}} page-item">
			<a class="page-link" href="?page={{pages}}&{{ querystring }}" tabindex="-1" aria-disabled="true">
				<i class="bi bi-skip-forward-fill"></i>
			</a>
		</li>
	</ul>
</nav>

