{% extends 'admin.html.twig' %}

{% block title %}Tous les articles Atempo-Education{% endblock %}

{% block body %}
<h1 class="h2">Tous les articles</h1>
    <br>
    <a href="{{ path('app_secretariat_posts_add') }}" class="btn btn-info float-lg-right">Ajouter un article</a>
    <br>
    <br>
        <table class="table table-striped table-light text-center">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Créateur</th>
                    <th scope="col">Créé le :</th>
                    <th scope="col">Actif</th>
                    <th scope="col" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.author.firstname }} {{ article.author.lastname }}</td>
                    <td>{{ article.createdAt|date }}</td>
                    <td>
                        <div class="form-check form-switch" style="">
                            <input class="form-check-input" type="checkbox" {{ (article.isactive) ? 'checked' : ''}} data-id="{{article.id}}"  id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </td>
                    <td><a href="{{ path('app_secretariat_posts_details', {slug: article.slug}) }}" class="btn btn-primary">Voir</a></td>
                    <td><a href="{{ path('app_secretariat_posts_modify', {slug: article.slug}) }}" class="btn btn-secondary">Modifier</a></td>
                    <td>
                        <a href="#" class="btn btn-danger modal-trigger" type="button" data-bs-toggle="modal"
                           data-bs-target="#modal-delete" data-target="modal-delete" data-id="{{article.id}}" data-titre="{{article.name}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Supprimer un article</h3>
                    <br>
                </div>
                <div class="modal-body">
                    <h4 class="h5"></h4><br>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Annuler</button>
                    <a href="" type="button" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let activer = document.querySelectorAll("[type=checkbox]")
            for (let bouton of activer) {
                bouton.addEventListener("click", function () {
                    let xmlhttp = new XMLHttpRequest;
                    xmlhttp.open("get", `/secretariat/actualites/${this.dataset.id}/activer/`)
                    xmlhttp.send()
                })
            }

            let supprimer = document.querySelectorAll(".modal-trigger")
            for(let bouton of supprimer) {
                bouton.addEventListener("click", function () {
                    document.querySelector(".modal-footer a").href = `/secretariat/actualites/${this.dataset.id}/supprimer/`
                    document.querySelector(".modal-body h4").innerText = `Êtes vous sûr(e) de vouloir supprimer l'article "${this.dataset.titre}" ?`
                    document.querySelector(".modal-body p").innerText = `Cette action ne sera pas réversible, et l'article sera totalement perdu. `
                })
            }
        }
    </script>
{% endblock %}
