{% extends 'base.html.twig' %}

{% block title %}Programmes
{% endblock %}


{% block body %}
	{% set today = "now"|date("Y-m-d H:i", 'Europe/Paris') %}
	{% set nextEvents = [] %}
	{% if not is_granted('ROLE_TEACHER') %}
		{% for event in app.user.courses %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'courses' }]) %}
			{% endif %}
		{% endfor %}
		{% for event in app.user.events %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'event' }]) %}
			{% endif %}
		{% endfor %}
		{% for event in app.user.evaluations %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'evaluations' }]) %}
			{% endif %}
		{% endfor %}
		{% if app.user.studentClasses is not null %}
			{% for studentClass in app.user.studentClasses %}
				{% for event in studentClass.courses %}
					{% if event.start|date("Y-m-d H:i") >= today %}
						{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'courses' }]) %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% for studentClass in app.user.studentClasses %}
				{% for event in studentClass.evaluations %}
					{% if event.start|date("Y-m-d H:i") >= today %}
						{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'evaluations' }]) %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% elseif is_granted('ROLE_TEACHER') %}
		{% for event in app.user.coursesteacher %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'courses' }]) %}
			{% endif %}
		{% endfor %}
		{% for event in app.user.events %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'event' }]) %}
			{% endif %}
		{% endfor %}
		{% for event in app.user.evaluationsteacher %}
			{% if event.start|date("Y-m-d H:i") >= today %}
				{% set nextEvents = nextEvents|merge([{ 'event': event, 'type': 'evaluations' }]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="container-fluid">
		<div
			class="row">
			<!-- Colonne de gauche -->
			<div
				class="col-md-7 m-4 mt-5">
				<!-- Boutons arrondis -->
				<div class="d-flex">
					<a href="{{ path('app_courses') }}" class="btn secondary-custom-button flex-fill mx-2 mb-5 p-3 mt-0 ">
						Cours
					</a>
					<a href="{{ path('app_lessons_home') }}" class="btn secondary-custom-button flex-fill mx-2 mb-5 p-3 mt-0">
						Leçons
					</a>
					<a href="{{ path('app_programs_home') }}" class="btn secondary-custom-button flex-fill mx-2 mb-5 p-3 mt-0 active">
						Programmes
					</a>
				</div>
				<!-- Carte pour le contenu "Élèves" -->
				<div class="card mb-4 card-shadow" style="border-radius: 15px;">
					<div class="card-body p-4 pb-0 text-black">
						<div>
							<div class="d-flex justify-content-between align-items-center mb-4 ">
								<h2 class="primary-color font-weight-bold h3">
									<i class="bi bi-folder-fill h3 me-1"></i>
									MES DERNIERS PROGRAMMES
								</h2>
							</div>
							{% set count = 0 %}
							{% if programs is not empty %}
								{% for program in programs |sort((a, b) => b.id <=> a.id) %}
									{% if program in app.user.programs or program.type == 1 and count < 5 %}
										<div class="d-flex align-items-center justify-content-between border-top my-1">
											<div class="row g-0">
												<div class="col-md-4">
													<img src="{{ asset('/uploads/programs/images/' ~ program.thumbnail) }}" alt="Atempo-Education | {{ program.thumbnail }}" class="img-fluid rounded-start">
												</div>
												<div class="col-md-8">
													<div class="card-body">
														<a href="{{ path('app_programs_details', {slug: program.slug}) }}" class="text-decoration-none">
															<h3 class="card-title h5">{{ program.name }}
																({{ program.lessons|length }}
																leçons)</h3>
														</a>
														<a href="{{ path('app_programs_details', {slug: program.slug}) }}" class="btn third-custom-button">
															Voir le programme
														</a>
													</div>
												</div>
											</div>
										</div>
									{% endif %}
									{% set count = count + 1 %}
								{% endfor %}
							{% endif %}
						</div>

						<div class="border-top">
							<a href="">
								<p class="my-4 pb-1 text-center fw-bold fs-5">Afficher plus de programmes</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Colonne de droite -->
			<div
				class="col-md-4 mt-5">
				<!-- Première boîte de droite -->
				{% if is_granted('ROLE_TEACHER') %}
					<a href="{{ path('app_programs_add') }}" class="btn primary-custom-button flex-fill mx-2 mb-5 p-3 mt-0  w-100">
						Ajouter un programme
					</a>
				{% endif %}
				<div class="card mb-4 card-shadow" style="border-radius: 15px;">
					<div class="card-body p-4 pb-0 text-black">
						<div>
							<h2 class="mb-4 primary-color font-weight-bold h3">
								<i class="bi bi-calendar3 h3 me-1"></i>
								AGENDA</h2>
							<div class="d-flex align-items-center justify-content-between mb-3 border-top"></div>
						</div>
						{% set nextEvents = nextEvents|sort((a, b) => a.event.start <=> b.event.start)|slice(0, 3) %}
					{% if nextEvents|length > 0 %}
					{% for event in nextEvents %}
					<a href="
						{% if event.type == 'courses' %} {{ path('app_calendar_courses_details',{id: event.event.id}) }}
						{% elseif event.type == 'event' %} {{ path('app_calendar_event_details',{id: event.event.id}) }}
						{% elseif event.type == 'evaluations' %} {{ path('app_calendar_evaluation_details',{id: event.event.id}) }} {% endif %}" style="color: {{ event.event.textcolor }}!important" class="">
						<div class="card mb-3" style="border-radius: 25px;">
							<div class="card-body p-4" style="border-radius: 25px; background: {{ event.event.backgroundcolor }}!important">
								<h3 class="mb-3 h4" style="border-radius: 15px; color: {{ event.event.textcolor }}!important">{{ event.event.name }}</h3>
								<p class="small mb-0" style="color: {{ event.event.textcolor }}!important">
								{{ event.event.start|format_datetime(pattern="eeee d MMM à HH'h'mm") }}
								<span class="mx-2">|</span>
								{% if event.event.room is not null %}
								Salle :
								{{ event.event.room.name }}</span>
								{% elseif event.event.zoomlink is not null %}
								A distanciel :
					<a href="{{ event.event.zoomlink }}" target="_blank" rel="noopener noreferrer">Lien Zoom</a>
					{% endif %}
					</p>
					</div>
					</div>
					</a>
					{% endfor %}
					{% else %}
					Aucun prochain cours pour le moment. Revenez plus tard.
					{% endif %}
					<div class="border-top"></div>
					<a href="{{ path('app_calendar_home') }}">
						<p class="my-4 pb-1 text-center fw-bold fs-5">Tout mon agenda</p>
					</a>
				</div>
			</div>
			<div class="card mb-4 card-shadow" style="border-radius: 15px;">
				<div class="card-body p-4 pb-0 text-black">
					<div>
						<h2 class="mb-4 primary-color font-weight-bold h3">
							<i class="bi bi-calendar3 h3 me-1"></i>
							ÉVALUATIONS</h2>
						<div class="d-flex align-items-center justify-content-between mb-3 border-top"></div>
					</div>
					{% set nextEvents = nextEvents|sort((a, b) => a.event.start <=> b.event.start)|slice(0, 3) %}
						{% if nextEvents|length > 0 %}
							{% for event in nextEvents %}
								{% if event.event in app.user.evaluations or event.event in app.user.evaluationsteacher %}
									<a href="{{ path('app_calendar_evaluation_details',{id: event.event.id}) }}" class="text-black-50">
										<div class="card mb-3" style="border-radius: 15px;">
											<div class="card-body p-4">
												<h3 class="mb-3 primary-color h4">{{ event.event.name }}</h3>
												<p class="small mb-0">
												{{ event.event.start|format_datetime(pattern="eeee d MMM à HH'h'mm") }}
												<span class="mx-2">|</span>
												Salle :{{ event.event.room.name }}
												</p>
											</div>
										</div>
									</a>
								{% endif %}
							{% endfor %}
						{% else %}
							Aucun prochain examen pour le moment. Revenez plus tard.
						{% endif %}
					<div class="border-top"></div>
					<a href="{{ path('app_calendar_home') }}">
						<p class="my-4 pb-1 text-center fw-bold fs-5">Toutes mes évaluations</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}

